.img-1, .img-2 {
    object-fit: cover;
    object-position: 30% 50%; 
    width: 50%;
    height: 100%;
}

@media (max-width: 750px) {
    .img-1, .img-2 {
        object-position: 50% 30%;
        width: 100%;
        height: 50%;
    }
}