.forground-wrapper {
    position: absolute;
}

.content-container {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    height: auto;
    position: absolute;
    padding: 75px 75px 75px 75px; 
    margin: 20px;
}

.content-container h1{
    color: var(--first-prime-color);
    font-style: italic;
    font-weight: 200;
    text-align: center;
    margin-bottom: 40px;
}

.content-container p{
    color: var(--first-prime-color);
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 50px;
}

.content-container .uper-corner,
.content-container .lower-corner {
    width: 100px;
    height: 100px;
    position: absolute;
}

.content-container .uper-corner {
    border-top: 1px solid var(--first-prime-color);
    border-left: 1px solid var(--first-prime-color);
    top: 0;
    left: 0;
}

.content-container .lower-corner {
    border-bottom: 1px solid var(--first-prime-color);
    border-right: 1px solid var(--first-prime-color);
    bottom: 0;
    right: 0;
}

.background-wrapper {
    position: absolute;
    overflow: hidden;
}

.background-container {
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 650px;
    position: relative;
}

.background-container .background-img-1, 
.background-container .background-img-2,
.background-container .background-img-3 {
    width: 100%;
    height: 100%;
    filter: blur(100px);
    position: absolute;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    user-select: none;
    pointer-events: none;
}

.background-container .background-img-1 {
    animation-name: animation-img-1;
}

.background-container .background-img-2 {
    animation-name: animation-img-2;
}

.background-container .background-img-3 {
    animation-name: animation-img-3;
}

@keyframes animation-img-1 {
  0%   {top: 0; left: 0; transform: rotate(0deg);}
  25%  {top: 30px; left: 10px; transform: rotate(20deg);}
  50%  {top: -10px; left: 20px; transform: rotate(40deg);}
  75%  {top: -100px; left: 100px; transform: rotate(60deg);}
  100% {top: 0; left: 0; transform: rotate(0deg);}
}

@keyframes animation-img-2 {
  0%   {top: 0; left: 0; transform: rotate(0deg);}
  25%  {top: 20px; left: -30px; transform: rotate(-10deg);}
  50%  {top: 100px; left: -100px; transform: rotate(-20deg);}
  75%  {top: -20px; left: 10px; transform: rotate(-30deg);}
  100% {top: 0; left: 0; transform: rotate(-0deg);}
}

@keyframes animation-img-3 {
  0%   {top: 0; left: 0; transform: rotate(0deg);}
  25%  {top: -50px; left: 20px; transform: rotate(10deg);}
  50%  {top: -20px; left: -50px; transform: rotate(20deg);}
  75%  {top: 40px; left: -100px; transform: rotate(30deg);}
  100% {top: 0; left: 0; transform: rotate(-0deg);}
}

@media (max-width: 950px) {
    .background-container {
        width: 90%;
        height: 90%;   
    }
}

@media (max-width: 500px) {
    .background-container .background-img-1, 
    .background-container .background-img-2,
    .background-container .background-img-3 {
        filter: blur(75px);
    }
}