.content-container {
    z-index: 1;
    width: 100%;
    height: 2500px;
    max-width: var(--full-page-width);
    background-color: var(--second-prime-color);
    margin-top: 70px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 400px);
}

.item-1,
.item-4,
.item-5,
.item-8 {
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-2 img,
.item-3 img,
.item-6 img,
.item-7 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item-4 h2,
.item-5 h2,
.item-8 h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
}

.item-4 hr,
.item-5 hr,
.item-8 hr {
    margin: 15px 0 10px 0;
}

.item-4 hr {
    width: 40%;
}

.item-5 hr{
    width: 85%;
}

.item-8 hr{
    width: 40%;
}

.item-4 p,
.item-5 p,
.item-8 p {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 20px;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.item-1 h1:first-child{
    font-size: 48px;
    font-weight: 800;
    font-style: italic;
}

.item-1 h1:nth-child(2){
    font-size: 75px;
    font-weight: 200;
    font-style: italic;
}

.item-1 hr{
    width: 90%;
    margin: 10px 0 40px 0;
}

.item-1 div {
    background-color: var(--first-prime-color);
    padding: 5px 10px 5px 10px;
    margin-bottom: 40px;
}

.item-1 div h2{
    font-size: 14px;
    color: var(--second-prime-color);
}

.item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.item-2{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.item-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.item-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.item-6 {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.item-7 {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.item-8 {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.contact-container {
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px 0 20px 0;
}

.contact-container h2 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 1px;
    margin-bottom: 50px;
}

.contact-container p {
    margin-bottom: 15px;
    font-size: 20px;
}