.content-container {
    z-index: 1;
    width: 100%;
    height: auto;
    max-width: var(--full-page-width);
    background-color: var(--second-prime-color);
    position: relative;
    padding-top: var(--header-full-height);

}

.content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    animation-name: slide-in;
    animation-duration: 1s;  
}

.item-1,
.item-4,
.item-5,
.item-8 {
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item-2 img,
.item-3 img,
.item-6 img,
.item-7 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.item-4 h2,
.item-5 h2,
.item-8 h2 {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
}

.item-4 hr,
.item-5 hr,
.item-8 hr {
    margin: 15px 0 10px 0;
}

.item-4 hr {
    width: 38%;
}

.item-5 hr{
    width: 85%;
}

.item-8 hr{
    width: 37%;
}

.item-4 p,
.item-5 p,
.item-8 p {
    font-style: italic;
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 20px;
}

.item-1{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.item-1 h1:first-child{
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: -5px;
}

.item-1 h1:nth-child(2){
    font-size: 60px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 20px;
}

.item-1 div {
    background-color: var(--first-prime-color);
    padding: 5px 10px 5px 10px;
    margin-bottom: 40px;
}

.item-1 div h2{
    font-size: 16px;
    font-weight: 800;
    font-style: italic;
    color: var(--second-prime-color);
}

.contact-container {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 65px 0 65px 0;
    animation-name: slide-in;
    animation-duration: 1s;  
}

.contact-container h2 {
    font-size: 48px;
    font-weight: 200;
    font-style: italic;
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 1px;
    margin-bottom: 50px;
}

.contact-container p {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
    font-style: italic;
}

@media (max-width: 750px) {
    .content-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 400px;
        grid-template-areas:
            "item-2"
            "item-1"
            "item-3"
            "item-4"
            "item-6"
            "item-5"
            "item-7"
            "item-8";  
    }

    .item-1 { grid-area: item-1; }
    .item-2 { grid-area: item-2; }
    .item-3 { grid-area: item-3; }
    .item-4 { grid-area: item-4; }
    .item-5 { grid-area: item-5; }
    .item-6 { grid-area: item-6; }
    .item-7 { grid-area: item-7; }
    .item-8 { grid-area: item-8; }

    .item-1 h1:first-child{
        font-size: 36px;
    }

    .item-1 h1:nth-child(2){
        font-size: 42px;
    }

    .item-1 div {
    }

    .item-1 div h2{
    }

    .item-1,
    .item-4,
    .item-5,
    .item-8 {
        padding: 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (min-width: 750px) {
    .item-1 {
        grid-area: 1 / 1 / 3 / 2;    
    }

    .item-2 {
        grid-area: 1 / 2 / 3 / 3;  
    }
}